@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-success text-white">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="card-body text-center">
                <p>
                    Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
                </p>
            </div>
        </div>
    </div>
</div>
